/* Inter Variable Font (includes all weights 100-900) */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/mev-wiki/fonts/InterVariable.woff2') format('woff2-variations');
  src: url('/mev-wiki/fonts/InterVariable.woff2') format('woff2') tech('variations');

}

/* Fallback for specific weights if variable font not supported */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/mev-wiki/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/mev-wiki/fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/mev-wiki/fonts/Inter-Bold.woff2') format('woff2');
}